><section class="contact-form">
    <h2 class="contact-form__title">
        Diligencie los campos y contactanos
    </h2>

    <form class="contact-form__form">
        <div class="contact-form__row">
            <label for="" class="contact-for__label">
                Nombre
                <input type="text" class="contact-form__input" placeholder="Ingrese su nombre" required>
            </label>

        <label for="" class="contact-for__label">
                Telefono
                <input type="tel" class="contact-form__input" placeholder="Ingrese su numero de Telefono" required>
            </label>
        </div>
         <label for="" class="contact-for__label">
                Correo
                <input type="email" class="contact-form__input" placeholder="Ingrese su correo electronico" required>
            </label>

            <label for="" class="contact-for__label">
                Message
            <textarea name="" id="" class="contact-form__text-area" placeholder="Ingresa aqui tu mensaje..." required>
            </textarea>
        <label>
        
        <!--Botones-->
        <div class="contact-form__actions">
            <button type="submit" class="contact-form__button">Cancelar</button>
            <button type="button" class="contact-form__button contact-form__button--red">Enviar</button>
            </div>
        </form>
        
        
</section>